body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

/* complaint list */
.complaint-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* card */
.complaint-card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
}
